* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10;
    background-color: #24252A;
}

.main-background {
    background-color: #24252A;
    height: 30cm;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(116, 142, 58)
}

button {
    padding: 9px 25px;
    background-color: rgb(116, 142, 58);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.main-title {
    padding: 1rem;
    text-align: center;
    width: auto;
}

.main-title h1{
    background-color: rgb(116, 142, 58);
    border-radius: 50px;
    padding: 1rem;
    margin: 0;
    position: relative;
    font-size: 25;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-vertical {
    margin-left: 8%
}

.activity-table {
    width: 40%;
    float: left;
}

.activity-info {
    width: 60%;
    float: right;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 5px 5px ;
    background-color: rgb(116, 142, 58);
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid lightgray;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #FFFFFF;
}

.activity-info p {
    color: white;
    font-size: large;
}

.activity-info p1 {
    color: white;
    font-size: medium;
}

.detailed-info {
    background-color: rgb(116, 142, 58);
    border-radius: 5px 5px 5px 5px ;
    margin-right: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 12px 15px;
}

.below {
    display: block;
    margin-bottom: 5%;
    height: 1cm;
    width: 10cm;
}

.contact-form {
    margin-top: 3%;
    margin-bottom: 3%;
}

.center-contact-button {
    display: block;
    margin-left: 35%;
}

.start-page-margin {
    margin-bottom: 5%;
}

.center-facebook {
    margin-left: 35%;
}

.login-btn {
    background-color: rgb(116, 142, 58);
    border-radius: 5px 5px 5px 5px ;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}