
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10;
    background-color: #24252A;
}

.main-background {
    background-color: #24252A;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(116, 142, 58)
}

button {
    padding: 9px 25px;
    background-color: rgb(116, 142, 58);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.main-title {
    padding: 1rem;
    text-align: center;
    width: auto;
}

.main-title h1{
    background-color: rgb(116, 142, 58);
    border-radius: 50px;
    padding: 1rem;
    margin: 0;
    position: relative;
    font-size: 25;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-vertical {
    margin-left: 8%
}

.activity-table {
    width: 40%;
    float: left;
}

.activity-info {
    width: 60%;
    float: right;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 5px 5px ;
    background-color: rgb(116, 142, 58);
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #FFFFFF;
}

.activity-info p {
    color: white;
    font-size: large;
}

.day-night-icon {
    fill: white;
    padding: 0em .5em;
    height: 1.4em;
}

.activity-info p1 {
    color: white;
    font-size: medium;
}

.detailed-info {
    background-color: rgb(116, 142, 58);
    border-radius: 5px 5px 5px 5px ;
    margin-right: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 12px 15px;
}

.below {
    display: block;
    margin-bottom: 5%;
    height: 1cm;
    width: 10cm;
}

.contact-form {
    margin-top: 3%;
    margin-bottom: 3%;
}

.center-contact-button {
    display: block;
    margin-left: 35%;
}

.start-page-margin {
    margin-bottom: 5%;
}

.center-facebook {
    margin-left: 35%;
}

.login-btn {
    background-color: rgb(116, 142, 58);
    border-radius: 5px 5px 5px 5px ;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.users-table{
    margin-left: 30px;
    margin-right: 30px;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-left: 30px;
    margin-top: 15px;
}

.admin-section {
    background-color: rgb(116, 142, 58);
    border-radius: 5px 5px 5px 5px ;
    padding: 12px 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.add-activity-form{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.inspringen{
    margin-left: 30px;
    margin-right: 30px;
}

.activity-inputs {
    height: 1cm;
    width: 8cm;
    border-radius: 5px 5px 5px 5px ;
    margin: 5px;
}

.activity-inputs-discription {
    height: 1cm;
    width: 16cm;
    border-radius: 5px 5px 5px 5px ;
    margin: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 10px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.search-activity-info {
    margin-left: 10px;
    margin-right: 10px;
}